#about_me_container {
  padding: 8% 20%;
  background-color: #e8f0f7;
}

#about_me_container h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--NAVYBLUE);
  width: 50%;
  border-bottom: 4px solid var(--LIGHTBLUE);
}

#about_me {
  display: flex;
  margin: 4% 0;
}

#about_me figure {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about_me figure img {
  width: 70%;
  border-radius: 32px;
  box-shadow: -25px 25px var(--NAVYBLUE);
}

@media screen and (max-width: 640px) {
  #about_me_container {
    padding: 8% 10%;
  }

  #about_me_container h2 {
    width: 100%;
  }
}