#about_section {
  padding: 8% 20%;
  background-color: var(--LIGHTBLUE);
}

#about_section h2 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--NAVYBLUE);
  width: 50%;
  border-bottom: 4px solid var(--NAVYBLUE);
}

#about {
  display: flex;
  margin: 6% 0;
}

#about figure {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: start;
}

#about figure img {
  width: 80%;
  border-radius: 32px;
  box-shadow: -25px 25px var(--NAVYBLUE);
}

#about article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  text-align: justify;
}

#about article h3 {
  font-size: 1.4rem;
  color: var(--NAVYBLUE);
  text-align: center;
}

#education {
  display: flex;
  align-items: center;
  gap: 1vh;
  margin-top: 1vw;
}

#education span {
  font-size: 0.9rem;
  color: gray;
}

#about article button {
  width: 100%;
  font-family: inherit;
  margin-top: 3vw;
  padding: 2%;
  background-color: var(--WHITE);
  border: 2px solid var(--NAVYBLUE);
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--NAVYBLUE);
  cursor: pointer;
  transition: 0.5s;
}

#about article button:hover {
  background-color: var(--NAVYBLUE);
  color: var(--WHITE);
}

@media screen and (max-width: 640px) {
  #about_section {
    padding: 13% 6% 13%;
  }

  #about_section h2 {
    width: 100%;
  }

  #about {
    flex-direction: column;
  }

  #about figure {
    width: 100%;
    margin-bottom: 10%;
  }

  #about article {
    width: 100%;
  }

  #education {
    flex-direction: column;
    align-items: start;
    margin-top: 2vh;
    gap: 0;
  }

  #about article button {
    margin-top: 3vh;
  }

  #about article button {
    padding: 3% 0;
  }
}