#blogs_section {
  padding: 8% 20%;
  background-color: var(--LIGHTBLUE);
}

#blogs_section h2 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--NAVYBLUE);
  width: 50%;
  border-bottom: 4px solid var(--NAVYBLUE);
}

#blogs_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 8vh 0 3vh;
  column-gap: 3%;
  row-gap: 4vh;
}

.blog_card {
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1.5%;
  background-color: var(--WHITE);
  transition: 0.5s;
}

.blog_card:hover {
  scale: 1.1;
}

.blog_card figcaption {
  margin-bottom: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view_blog {
  font-weight: 600;
  color: var(--NAVYBLUE);
  font-size: 1.05rem;
  cursor: pointer;
}

.blog_card figure img {
  width: 100%;
  box-shadow: 0 1px 4px 0 black;
}

@media screen and (max-width: 640px) {
  #blogs_section {
    padding: 13% 6% 13%;
  }

  #blogs_section h2 {
    width: 100%;
  }

  .blog_card {
    width: 90%;
    padding: 1vh;
  }

  #blogs_container {
    column-gap: 6%;
    row-gap: 3vh;
  }

  .blog_card figcaption {
    font-size: 1.2rem;
    margin-bottom: 2%;
  }
}