#blogs_section {
  padding: 8% 20%;
  background-color: var(--LIGHTBLUE);
}

#blogs_section h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--NAVYBLUE);
  width: 50%;
  border-bottom: 4px solid var(--NAVYBLUE);
}

#blogs_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 6% 0;
  column-gap: 3%;
  row-gap: 4vh;
}

.blog_card {
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1%;
  background-color: whitesmoke;
}

.blog_card figcaption {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

.blog_card figure img {
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}