#contact_section {
  padding: 4% 18%;
  background-color: var(--NAVYBLUE);
  color: var(--WHITE);
}

#contact_section h2 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}

#form_container {
  display: flex;
  justify-content: center;
  
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

form p {
  margin: 2% 0 3%;
}

form p a {
  color: var(--WHITE);
}

input, textarea {
  padding: 10px;
  margin-bottom: 2%;
  font-size: 1rem;
}

textarea {
  resize: none;
}

form button {
  align-self: center;
  width: 50%;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 3% 0;
  background-color: var(--WHITE);
  border: 2px solid var(--NAVYBLUE);
  border-radius: 8px;
  font-weight: 600;
  color: var(--NAVYBLUE);
  cursor: pointer;
  transition: 0.5s;
}

form button:hover {
  scale: 1.1;
}

#alert {
  position: fixed;
  z-index: 2;
  top: 5rem;
  left: 25%;
  right: 25%;
  background-color: dodgerblue;
  padding: 0.5% 1%;
  display: none;
  animation: fade-up 0.5s;
}

#success {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  font-size: 2.5rem;
  font-weight: 600;
}

#success_message {
  background-color: var(--WHITE);
  color: black;
  padding: 1%;
}

#close_button:hover {
  scale: 1.1;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  #contact_section {
    padding: 8% 10%;
  }

  #contact_section h2 {
    width: 100%;
  }

  form {
    width: 100%;
    border-right: 0;
  }

  input, textarea {
    margin-bottom: 4%;
  }
}