/* PROJECTS */

#projects_section {
  padding: 8% 16%;
}

#projects_section h2 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--NAVYBLUE);
  width: 50%;
  border-bottom: 4px solid var(--NAVYBLUE);
}

#note {
  font-size: 1.2rem;
  margin-top: 4%;
}

.projects {
  display: flex;
  justify-content: center;
  margin: 4% 0;
  gap: 4%;
}

.projects article {
  width: 55%;
  text-align: justify;
}

.projects article > * {
  padding: 2% 0;
}

.projects article h3 {
  color: var(--NAVYBLUE);
  font-size: 2rem;
  text-align: start;
}

article p {
  font-size: 1.1rem;
}

.built_with {
  display: flex;
  gap: 1vh;
  align-items: center;
  font-weight: 500;
  color: var(--NAVYBLUE);
}

.built_with p {
  font-size: 1.3rem;
}

.builtWithIcons img {
  width: 32px;
}

.projects button {
  
}

.projects button:hover {
  background-color: var(--NAVYBLUE);
  color: var(--WHITE);
}

.projects a {
  text-decoration: none;
  background-color: var(--WHITE);
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 500;
  margin-right: 1%;
  padding: 2%;
  color: var(--NAVYBLUE);
  border-radius: 8px;
  border: 2px solid var(--NAVYBLUE);
  cursor: pointer;
  transition: 0.5s;
}

.projects a:hover {
  color: var(--WHITE);
  background-color: var(--NAVYBLUE);
}

.projects figure {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0 1% 0;
}

.projects figure video {
  width: 90%;
  border-radius: 25px;
}

@media screen and (max-width: 640px) {
  #projects_section {
    padding: 13% 6% 13%;
  }

  #projects_section h2 {
    width: 100%;
  }

  .projects {
    flex-direction: column;
    margin-bottom: 8%;
  }

  .projects article {
    width: 100%;
  }

  .projects article > * {
    padding: 4% 0;
  }

  .projects article p {
    font-size: 1.25rem;
  }

  .projects figure {
    width: 100%;
    margin: 5% 0;
  }

  .projects figure video {
    width: 100%;
  }
}