/* PROJECTS */

#projects {
  padding: 8% 20%;
}

#projects h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--NAVYBLUE);
  width: 50%;
  border-bottom: 4px solid var(--LIGHTBLUE);
}

#project1 {
  display: flex;
  justify-content: center;
  gap: 5%;
}

#projects article {
  width: 45%;
  text-align: justify;
}

#projects article > * {
  padding: 2% 0;
}

#projects article h3 {
  padding: 2% 0 0 0;
}

#projects button {
  background-color: var(--WHITE);
  font-family: inherit;
  font-size: 1rem;
  padding: 1%;
  color: var(--NAVYBLUE);
  border-radius: 8px;
  border: 2px solid var(--NAVYBLUE);
}

#projects figure {
  width: 45%;
  align-self: center;
}

#projects figure video {
  width: 100%;
}

@media screen and (max-width: 640px) {
  #projects {
    padding: 8% 10%;
  }

  #projects h2 {
    width: 100%;
  }
}