#skills_section {
  padding: 8% 20%;
}

#skills_section h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--NAVYBLUE);
  width: 50%;
  border-bottom: 4px solid var(--NAVYBLUE);
}

#skills {
  display: flex;
  margin: 6% 0;
  gap: 5%;
}

#skills_container {
  width: 50%;
  display: grid;
  grid-template-columns: 30% 30%;
  gap: 5%;
  justify-content: center;
  place-items: center;
}

#skills_container figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills_container img {
  background-color: var(--LIGHTBLUE);
  padding: 10%;
  border-radius: 50%;
  width: 90%;
  box-shadow: 0 6px 0 var(--NAVYBLUE), 0 4px 8px black;
  cursor: pointer;
  transition: 0.2s;
}

#skills_container img:active {
  box-shadow: 0 2px 0 var(--NAVYBLUE), 0 2px 4px black;
}

#javascript img {
  background-color: var(--WHITE);
}

#skills_container figcaption {
  margin-top: 12.5%;
  text-align: center;
}

#skills dl {
  display: none;
  padding: 2%;
  width: 50%;
  min-height: 45vh;
  max-height: 45vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: fade-right 0.5s;
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#skills dl > * {
  margin-bottom: 1rem;
}

#skills dt {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--NAVYBLUE)
}

#skills dd {
  margin-left: 2rem;
}

@media screen and (max-width: 640px) {
  #skills_section {
    padding: 8% 10%;
  }

  #skills_section h2 {
    width: 100%;
  }

  #skills {
    flex-direction: column;
  }

  #skills_container {
    width: 100%;
  }

  #skills dl {
    width: 100%;
  }

  #skills_container {
    grid-template-columns: 30% 30% 30%;
    margin-bottom: 7.5%;
  }

  #skills_container img {
    width: 65px;
  }

  /* #skills_container figure {
    max-height: 88px;
  } */

  #skills_container figcaption {
    font-size: 0.9rem;
    margin-top: 15px;
  }
}