#skills_section {
  padding: 8% 20%;
}

#skills_section h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--NAVYBLUE);
  width: 50%;
  border-bottom: 4px solid var(--NAVYBLUE);
}

#skills_section h2 span {
  font-size: 1.6rem;
  font-weight: normal;
}

#skills_container {
  padding: 1.5vw 0;
}

#skills {
  display: flex;
  padding: 1vw;
  justify-content: space-between;
}

#skills figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills img {
  background-color: var(--LIGHTBLUE);
  padding: 10%;
  border-radius: 50%;
  width: 90%;
  box-shadow: 0 4px 0 var(--NAVYBLUE), 0 4px 8px black;
  cursor: pointer;
  transition: 0.4s;
}

#javascript img {
  background-color: var(--WHITE);
  box-shadow: 0 1px 2px var(--NAVYBLUE), 0 2px 5px black;
}

#skills figcaption {
  margin-top: 12.5%;
  text-align: center;
}

#skills_container dl {
  display: none;
  padding: 2%;
  min-height: 45vh;
  max-height: 45vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: fade-right 0.5s;
}

#skills_container dl > * {
  margin-bottom: 1rem;
}

#skills_container dt {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--NAVYBLUE)
}

#skills_container dd {
  margin-left: 2rem;
}

@media screen and (max-width: 640px) {
  #skills_section {
    padding: 13% 6% 13%;
  }

  #skills_section h2 {
    width: 100%;
  }

  #skills_container {
    padding: 2vh 0;
  }

  #skills {
    flex-wrap: wrap;
    gap: 1vh;
  }

  #skills figure {
    width: 28%;
  }

  #skills figcaption {
    text-wrap: nowrap;
  }
}