#skills_section {
  padding: 8% 20%;
}

#skills_section h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--NAVYBLUE);
  width: 50%;
  border-bottom: 4px solid var(--NAVYBLUE);
}

#skills_container {
  display: flex;
  margin: 6% 0;
  gap: 5%;
}

#skills {
  width: 50%;
  display: grid;
  grid-template-columns: 30% 30%;
  gap: 5%;
  justify-content: center;
  place-items: center;
}

#skills figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
}

#skills figure:hover {
  scale: 1.1;
}

#skills img {
  background-color: var(--LIGHTBLUE);
  padding: 10%;
  border-radius: 50%;
  width: 90%;
  box-shadow: 0 6px 0 var(--NAVYBLUE), 0 4px 8px black;
  cursor: pointer;
  transition: 0.2s;
}

#skills img:active {
  box-shadow: 0 2px 0 var(--NAVYBLUE), 0 2px 4px black;
}

#javascript img {
  background-color: var(--WHITE);
}

#skills figcaption {
  margin-top: 12.5%;
  text-align: center;
}

#skills_container dl {
  display: none;
  padding: 2%;
  width: 50%;
  min-height: 45vh;
  max-height: 45vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: fade-right 0.5s;
}

#skills_container dl > * {
  margin-bottom: 1rem;
}

#skills_container dt {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--NAVYBLUE)
}

#skills_container dd {
  margin-left: 2rem;
}

@media screen and (max-width: 640px) {
  #skills_section {
    padding: 15% 6% 10%;
  }

  #skills_section h2 {
    width: 100%;
  }

  #skills_container {
    flex-direction: column;
  }

  #skills {
    width: 100%;
  }

  #skills_container dl {
    width: 100%;
  }

  #skills {
    grid-template-columns: 30% 30% 30%;
    margin-bottom: 7.5%;
  }

  #skills img {
    width: 65px;
  }

  #skills figcaption {
    font-size: 0.9rem;
    margin-top: 15px;
  }
}