@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --NAVYBLUE: #363C86;
  --LIGHTBLUE: #99ffff;
  --WHITE: white;
}

body {
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.1rem;
}

/* HEADER NAVBAR */

header {
  display: flex;
  justify-content: center;
}

nav {
  position: fixed;
  z-index: 1;
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 0.6rem 1.5rem;
  border: 2px solid var(--NAVYBLUE);
  border-radius: 25px;
  background-color: var(--WHITE);
}

ul {
  display: flex;
  gap: 3rem;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: var(--NAVYBLUE);
  padding: 0.3rem 1rem;
  border-radius: 25px;
  transition: 0.5s;
}

ul li a:hover {
  background-color: var(--NAVYBLUE);
  color: var(--WHITE);
}

ul li a:active {
  background-color: var(--NAVYBLUE);
}

nav button {
  display: none;
  border: none;
  background-color: var(--WHITE);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

/* HOME SECTION */

#home {
  padding: 8%;
  background-color: var(--NAVYBLUE);
  color: var(--WHITE);
}

#home h1 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  padding-bottom: 1%;
}

#home h2 {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  padding-bottom: 2%;
}

#intro_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 5%;
}

#intro {
  width: 30%;
  text-align: justify;
}

#intro > * {
  padding: 2% 0;
}

#intro_buttons {
  font-size: 2rem;
  color: var(--WHITE);
}

#intro_buttons > * {
  margin-right: 3%;
}

#tech_stack_p {
  margin-top: 4%;
  font-size: 1.5rem;
  font-weight: bold;
}

#tech_stack {
  display: flex;
  gap: 3%;
}

#tech_stack figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tech_stack figure img {
  width: 70%;
  padding: 10%;
  border-radius: 50%;
  background-color: var(--WHITE);
}

#tech_stack figure figcaption {
  font-size: 0.8rem;
  margin-top: 10%;
  text-align: center;
}

#photo_of_me {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

#photo_of_me img {
  width: 100%;
  border-radius: 25px;
}

@media screen and (max-width: 640px) {

  /* HEADER NAVBAR */

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  nav ul li {
    width: 50%;
    margin: auto;
    padding: 1.2rem;
    border-bottom: 1px solid var(--NAVYBLUE);
  }

  nav ul li a {
    font-size: 1.2rem;
  }

  nav button {
    display: block;
    font-size: 1.2rem;
  }

  /* HOME SECTION */

  #home {
    padding: 20% 2%;
  }

  #home > * {
    padding-bottom: 4%;
  }

  #home h1 {
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
  }
  
  #home h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }

  #intro_container {
    flex-direction: column-reverse;
  }

  #intro {
    width: 100%;
    text-align: justify;
    padding: 5%;
  }

  #tech_stack figure {
    padding: 2px 6px;
    border-radius: 8px;
  }
  
  #tech_stack figure img {
    width: 50px;
  }

  #photo_of_me {
    width: 75%;
    justify-content: center;
    align-items: center;
  }
}