* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BLACK: black;
  --WHITE: white;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1rem;
}

/* HEADER NAVBAR */

header {
  display: flex;
  justify-content: center;
}

nav {
  position: fixed;
  z-index: 1;
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 0.6rem 1.5rem;
  border: 2px solid var(--BLACK);
  border-radius: 25px;
  background-color: var(--WHITE);
}

ul {
  display: flex;
  gap: 3rem;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: var(--BLACK);
  padding: 0.5rem 1rem;
  border-radius: 25px;
  transition: 0.5s;
}

nav button {
  display: none;
  border: none;
  background-color: var(--WHITE);
}